*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.notify{
    position: fixed;
    border: 1px solid #000;
    max-width: 250px;
    min-width: 120px;
    border-radius: 5px;
    cursor: pointer;
}
.notify:hover{
    scale: 1.05;
    transition: 0.1S all;
}
.notifyBox{
    padding: 8px 12px;
    position: relative;
}
.notifyBox::after{
    position: absolute;
    content: "\00D7";
    top: 0px;
    right: 4px;
    font-size: 18px;
}


.notify[data-position^="top-"] {
    top: 10px;
}
.notify[data-position^="bottom-"] {
    bottom: 10px;
}
.notify[data-position$="-right"] {
    right: 10px;
}
.notify[data-position$="-left"] {
    left: 10px;
}
.notify[data-position$="-center"] {
    left: 50%;
    transform: translateX(-50%);
}